apiVersion: apps/v1
kind: Deployment
metadata:
  name: pagamento-api-deployment
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: pagamento-api
  template:
    metadata:
      labels:
        app: pagamento-api
    spec:
      containers:
      - name: pagamento-api
        image: southamerica-east1-docker.pkg.dev/fiap-cloud-games/fiap-cloudgames/pagamento-api:latest
        ports:
        - containerPort: 8080
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: "Production"
        - name: ASPNETCORE_URLS
          value: "http://+:8080"
        - name: Jwt__Key
          valueFrom:
            secretKeyRef:
              name: jwt-secrets
              key: Jwt__Key__Pagamento
        envFrom:
        - configMapRef:
            name: services-config
        - secretRef:
            name: jwt-secrets
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 5
